<%= form_for @user ,:url=> "/external" do |f|%>

    <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true, value:@linkedin_data.info.email%></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

    <div class="field">
      <%= f.label :department_id, "Departments"%>
      <%= f.collection_select :department_ids, Department.order(:name),:id,:name,{},{multipart:true} %>
    </div>



    <div><%= f.submit "Sign up" %></div>
<% end %>