
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div id="sign_in_email"><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div>

    <div id="sign_in_password" ><%= f.label :password %>
      <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
        <div id="sign_in_checkbox"><%= f.check_box :remember_me %><div id="remember"> <%= f.label :remember_me %></div></div>
    <% end -%>

    <div id="sign_in"><%= f.submit "Sign in" %></div>


    <div id="sign_in_forget">
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    </div>


<% end %>




