<%= form_for(@community) do |f| %>
  <% if @community.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@community.errors.count, "error") %> prohibited this community from being saved:</h2>

      <ul>
      <% @community.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class ="field">
    <%= f.label :Description %>
    <%= f.text_area :name ,size:"25x2" %>
  </div>

    <div class="form_row">
      <%= f.label 'Image upload' %>
      <%= f.file_field :community_image %>
    </div>

    <div class="field">
      <%= f.label :department_tokens,"Departmentssss"%></br>
      <%= f.text_field :department_tokens %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
