<h1>Listing communities</h1>



<% @communities.each do |community| %>


    <div class="painting">
      <div class="name">
        <%= community.name %>
      </div>


        <% if community.community_image? %>
        <%=image_tag community.community_image_url(:thumb).to_s %>
        <% else %>
          <div class="image_placeholder">
          </div>
        <% end %>


      <div class="actions">
        <%= link_to 'Show', community %>
        <%= link_to 'Edit', edit_community_path(community) %>
        <%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %>

        <% if current_user.joined?(community) %>
            <%= form_for(current_user.memberships.find_by_community_id(community),
                         html: { method: :delete }) do |f| %>
                <%= f.submit "Unjoin", class: "btn btn-primary" %>
            <% end %>

        <% else %>
            <%= form_for current_user.memberships.build(community_id:community.id) do |f| %>
                <div><%= f.hidden_field :community_id %></div>
                <%= f.submit "Join", class: "btn btn-primary" %>
            <% end %>

        <% end %>



      </div>
    </div>




<% end %>


<br />

<%= link_to 'New Community', new_community_path %>
