<!-- This is for showing other profiles -->

<% if @logged_in_user.id != @other_user.id %>

<ol>
  <% if Friendship.are_friends(@logged_in_user, @other_user) %>
      (you are friends)
  <% elsif @logged_in_user != @user %>
      (<%= link_to "request friendship",
                   :controller => :friendship,
                   :action => :req,
                   :id => @other_user.id %>)
  <% end %>

      <%= link_to "excel" , root_url %>

</ol>



    <div id="follow_form">
      <% if @logged_in_user.following?(@other_user) %>
          <%= form_for(@logged_in_user.relationships.find_by_followed_id(@other_user),
                       html: { method: :delete },:remote => true) do |f| %>
              <%= f.submit "Unfollow", class: "btn btn-large" %>
          <% end %>

      <% else %>
          <%= form_for(@logged_in_user.relationships.build(followed_id: @other_user.id),:remote=>true) do |f| %>
              <div><%= f.hidden_field :followed_id %></div>
              <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
          <% end %>

      <% end %>
    </div>


    <div id =" follow">
    </div>


<% else %>

     safsfsdfdsfdsfs

<%end %>

