

<!-- Here comes the details of the user with edit options for the personal data even the activity log activeness
Things to be implemented
1) Activity log
2) Show the interests
3) Name full
4) photo
5) Bookmarked videos
6) His friends
7) His mentors
8) Reputation
9) Taught videos
10) Interest
11)2) micrpposts
-->


<div class="span3" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>

      <li><%= @logged_in_spec.first_name %></li>
      <li><%=image_tag @logged_in_spec.image_url(:thumb).to_s %></li>

      <li><%= link_to "Edit Profile","/specs/edit" %></li>




      <h5> U r Following</h5>
      <%  @logged_in_user.followed_users.each do |following| %>
          <%=following.email %>
      <% end %>

      <h5> Your Followersss!!</h5>
      <%  @logged_in_user.followers.each do |follower| %>
          <%=follower.email %>
      <% end %>








      <h2>Your Friends</h2>

      <ol>


        <% @logged_in_user.friendship.each do |friendship| %>
            <li>
              <%= friendship.friend.id %>
              <%= link_to friendship.friend.spec.first_name,friendship.friend.id.to_s%>
              <%= friendship.status %>
              <% if friendship.status == "pending"%>
                  (<%= link_to "accept",
                               :controller => :friendship,
                               :action => :accept,
                               :id => friendship.friend.id %> ) |
              <%elsif friendship.status == "pending"%>
                  (<%= link_to "reject",
                               :controller => :friendship,
                               :action => :reject,
                               :id => friendship.friend.id %>)
              <%elsif friendship.status == "requested"%>
                  (<%= link_to "reject",
                               :controller => :friendship,
                               :action => :reject,
                               :id => friendship.friend.id %>) |

                  (<%= link_to "accept",
                               :controller => :friendship,
                               :action => :accept,
                               :id => friendship.friend.id %> )

              <% end %>
            </li>
        <% end %>
      </ol>




      <h6>Groups</h6>

      <%= link_to 'New Community', new_community_path %></br>


       <% @memberships.each do |membership| %>
           <%= link_to membership.community.name, community_path(membership.community) %></br>
       <% end %>


    </ul>
  </div><!--/.well -->
</div>






 <div class="span6">



<%= form_for(@new_micropost, :url => "/microposts",remote:true) do |f| %>
    <%= f.text_area :content, size:"25x2" %>
    <%= f.submit  "post"%>
<% end %>

<div class="content">
  <% if @logged_in_user.microposts.any? %>
      <h3>Microposts (<%= @logged_in_user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render 'profile/micropost' %>
      </ol>

  <% end %>
</div>

   <h4>Your Followings Feed Items</h4>
   <% @feed_items.each do  |feed| %>
       <%= feed.content %>
   <% end %>



Here all the updates dynamic view comes with all rss feeds this is like the world news


 </div>


<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>


      <li><%= link_to "Link1", "/path1"  %></li>
      <li><%= link_to "Link2", "/path2"  %></li>
      <li><%= link_to "Link3", "/path3"  %></li>
    </ul>
  </div><!--/.well -->
</div>